{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<style>

		form {
			background-color: rgba(33, 37, 41, 0.01);
			padding: 20px 0;
			border-radius: 14px;
		}
		.row > div {
			display: grid;
			grid-template-columns: [a] 30% [b] 70%;
		}

		input {
			/* Dentro de los inputs, el texto se alinea a la izquierda */
			text-align: left;
			margin: 15px;
		}
		label {
			margin: auto auto auto 0;
		}
	</style>

	<section class="c-container--center">
		<section class="c-container__formu">
			<div class="row">
				<h1 class="text-center col-12">Nueva cuenta</h1>
			</div>

			{{ form_start(registrationForm) }}

			<div class="row">
				{{ form_row(registrationForm.email) }}
			</div>

			<div class="row">
				{{ form_row(registrationForm.password, {
				label: 'Contraseña'
				}) }}
			</div>

			<div class="row">
				{{ form_row(registrationForm.nombre,{
				label: 'Nombre'
				}) }}
			</div>

			<div class="row">
				{{ form_row(registrationForm.apellido1,{
				label: '1er Apellido'
				}) }}
			</div>

			<div class="row">
				{{ form_row(registrationForm.apellido2,{
				label: '2º Apellido'
				}) }}
			</div>

			<div class="row">
				{{ form_row(registrationForm.telefono,{
				label: 'Teléfono'
				}) }}
			</div>

			<div class="row">
				{{ form_row(registrationForm.imagen,{
				label: 'Imagen de perfil'
				}) }}
			</div>

			<div class="row">
				{{ form_row(registrationForm.telegram_id,{
				label: 'Telegram'
				}) }}
			</div>

			{# <input type="hidden" name="_target_path" value="/mesas"> #}

			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			
			<div class="row">
				<button type="submit" class="btn btn-primary col-12">Registrarme</button>
				{{ form_end(registrationForm) }}
			</div>
			<span class="text-center">
				Ya tengo cuenta
				<a href="{{ url('app_login') }}">entrar</a>
			</span>
		</section>
	</section>
{% endblock %}
