{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<style>
		* {
			/* En general, centramos el contenido */
			text-align: center;
			margin: auto;
		}
		form {
			background-color:rgba(33, 37, 41, 0.01);
			padding: 20px 0px;
			border-radius: 14px;
		}

		input {
			/* Dentro de los inputs, el texto se alinea a la izquierda */
			text-align: left;
			margin: 15px;
		}
	</style>

	<section class="c-container--center">
		<section class="c-container__formu">
			<h1>Nueva cuenta</h1>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Contraseña'
        }) }}
			{{ form_row(registrationForm.nombre,{
		label: 'Nombre'
	    }) }}

			{{ form_row(registrationForm.apellido1,{
		label: '1er Apellido'
	    }) }}

			{{ form_row(registrationForm.apellido2,{
		label: '2º Apellido'
	    }) }}

			{{ form_row(registrationForm.telefono,{
		label: 'Teléfono'
	    }) }}

			{{ form_row(registrationForm.telegram_id,{
		label: 'Telegram'
	    }) }}

			{# <input type="hidden" name="_target_path" value="/mesas"> #}

			<button type="submit" class="btn btn-primary">Registrarme</button>
			{{ form_end(registrationForm) }}
		</section>
	</section>
{% endblock %}
