{% extends './base.html.twig' %}

{% block title %}
	Organizar sala
{% endblock %}

{% block javascripts %}
	{# <script src="{{ asset('js/mesas.js') }}"></script> #}
{% endblock %}

{% block body %}
	{# En el body #}
	<div class="col-12 p-2" style="height: fit-content; border: 1px solid gray;margin:0 5px;">

		<form action="" method="post" id="header-form">
			<label for='selDisposicion'>Disposición de la sala</label>
			
			<select
				name="dispo" id="selDisposicion" style="position: absolute;left: 50%;transform: translate(-50%, 0);top: 183px;">
				{# Como mínimo tiene la estándar #}
				<option value="-1" selected>Estándar</option>
				{% for opt in disposiciones %}
					<option value="{{opt.value}}">{{opt.name}}</option>
				{% endfor %}
				<option value="crear">Crea dispo..</option>
			</select>

			<input type="button" style="float:right" id="creaMesa" value="CREAR MESA">
			
		</form>
	</div>
	<div id="container-mesas">
		<div id="almacen"></div>
		<div id="sala"></div>
	</div>
	

	<style>
		.mesa {
			background: url('../images/table.png') no-repeat;
			background-size: 100%;

			/*
			width: 120px;
			height: 120px;
			*/
			margin: 5px;
			/* Cuando haya chocado */
			/* border: 1px dotted red; */
		}
		#container-mesas {
			display: grid;
			grid-template-rows: [fila] 100%;
			grid-template-columns: [a] 80% [b] 20%;
			min-width: 1300px;
			margin: 5px;
			height: fit-content;
		}
		#header-form {
			min-height: 25px;
		}
		#sala {
			grid-row: fila;
			grid-column: a;
			border: 1.5px solid #332626;
			width: 98%;
			min-height: 550px;
		}
		#almacen {
			grid-row: fila;
			grid-column: b;
			border: 1.5px solid #84481d;
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		#crea-mesas {
			display: flex;
			flex-direction: row;
			margin: 5px;
		}
		#creaMesa {
			padding: 3px;
			border-radius: 5px;
			border-color: #00E36A;
			color: #00E36A;
			background-color: transparent;
			margin: 5px;
			margin-top: 0;
		}
	</style>

	{# SCRIPTS #}
	<script src="{{ asset('js/mesas.js') }}"></script>
	<script src="{{ asset('js/utils/datePicker.js') }}"></script>
	<script src="{{ asset('js/creaMesa.js') }}"></script>

{% endblock %}
