{% extends "base.html.twig" %}

{% block body %}

	<style>
		form {
			padding: 60px;
			border-radius: 23px;
			background-color: #FFFFFF;
			box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
		}
		.c-cont__botones {
			display: flex;
			justify-content: center;
			gap: 10%;
		}
		.row > div {
			display: grid;
			grid-template-columns: repeat(2, 45%);
			grid-gap: 5px 20px;
		}
	</style>

	<section class="c-container--center">
		<section class="c-container__formu">
			<h1 class="mb-3 text-center display-5">EDITAR JUEGO
				{{juego.nombre}}</h1>

			{{ form_start(juegoForm) }}

			<div class="row">
				{{ form_row(juegoForm.nombre) }}
			</div>
			<div class="row">
				{{ form_row(juegoForm.descripcion) }}
			</div>
			<div class="row">
				{{ form_row(juegoForm.minJugadores,{
                    label: 'Mínimo de jugadores'
                }) }}
				{{ form_row(juegoForm.maxJugadores,{
                    label: 'Máximo de jugadores'
                }) }}
			</div>

			<div class="row">
				{{ form_row(juegoForm.anchoTablero,{
                label: 'Ancho del tablero'
            		}) }}

				{{ form_row(juegoForm.largoTablero,{
                	label: 'Largo del tablero'
            	}) }}
			</div>
			<div class="row">
				{% if juegoForm.imagen|length %}
					<img src="{{asset('images/uploads/' ~ juegoForm.imagen)}}">
				{% else %}
					{{ form_row(juegoForm.imagen)}}
				{% endif %}

			</div>

			<br>
			<input type="hidden" name="_target_path" value="/mantenimiento/juegos">

			<div class="c-cont__botones">

				<a class="btn btn-outline-primary col-6 col-md-3" href="{{ url('mantenimiento_juegos') }}">
					<i class="fa fa-backward"></i><br>
					Volver atrás
				</a>

				<button type="submit" class="btn btn-primary col-6 col-md-3">
					<i class="fa fa-check"></i><br>
					Guardar cambios
				</button>
			</div>
			{{ form_end(juegoForm) }}

		</section>
	</section>

{% endblock %}
