<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}XOKAS Y CÍA
			{% endblock %}
		</title>
		<link rel="shortcut icon" href="{{asset('images/logo3.png')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}


		{% block stylesheets %}
			{# BOOTSTRAP  #}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
			{# JQUERY #}
			<link rel="stylesheet" href="{{ asset('ui/css/jquery-ui.css') }}">
			<link rel="stylesheet" href="{{ asset('ui/css/jquery-ui.structure.css') }}">
			<link rel="stylesheet" href="{{ asset('ui/css/jquery-ui.theme.css') }}">
			<link
			rel="stylesheet" href="{{ asset('vendor/css/all.min.css') }}">
			{# PLANTILLA HTML · TALE #}
			<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('css/estilos.css')}}">
		{% endblock %}

		{% block javascript %}
			<script src="{{ asset('js/jquery-3.6.3.js') }}"></script>
			<script src="{{ asset('js/jquery-ui.js') }}"></script>

			<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

			<script src="{{ asset('js/all.min.js') }}"></script>
			<script src="{{ asset('js/clases.js') }}"></script>
			{# <script src="{{ asset('js/ventanaEmergente.js') }}"></script> #}
			<script src="{{ asset('assets/js/isotope.min.js') }}"></script>
			<script src="{{ asset('assets/js/owl-carousel.js') }}"></script>
			<script src="{{ asset('assets/js/tabs.js') }}"></script>
			<script src="{{ asset('assets/js/popup.js') }}"></script>
			<script src="{{ asset('assets/js/custom.js') }}"></script>
		{% endblock %}
		{% block finanza %}{% endblock %}
	</head>
	<body>
		{% block header %}
			{# SPINER #}
			{% include "components/pre-loader.html.twig" %}
			{# PRE HEADER #}
			{% include "components/pre-header.html.twig" %}
			{# HEADER · NAV #}
			{% block nav %}
				{% include "components/nav.html.twig" %}
			{% endblock %}
		{% endblock %}

		<section class='c-container--general'>
			{% block body %}
				{# CUERPO #}
			{% endblock %}

			{% block slider %}
				{# HUECO PARA EL CARRUSEL #}
			{% endblock %}
		</section>
		{% block footer %}
			{% include "components/footer.html.twig" %}
		{% endblock %}
	</body>
</html>
