{# <div class="c-container__carousel"> #}


<article class="mt-5">

<div class="owl-features owl-carousel m-2">

	{# COMO MÍNIMO EL PROMOCIONAL #}
	<div style="background-color:#45E04D;">

		<img src="{{asset('/images/logo1.png')}}" style="height:160px;" alt="">
		<div class="text-light">
			<h4 class="text-center">EVENTOS</h4>
			<div style="height:fit-content;"  class="accordion accordion-flush">
				<div class="accordion-item">
					<h2 class="accordion-header" id="cabecera-acordeon">
						<button style="background-color:#45E04D;" class="accordion-button collapsed text-light" type="button" data-bs-toggle="collapse" data-bs-target="#body-colapsado" aria-expanded="false" aria-controls="flush-collapseOne">Saber más</button>
					</h2>
					<div id="body-colapsado" class="accordion-collapse collapse" aria-labelledby="cabecera-acordeon" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body" style="background-color:#45E04D;">
							<p style="color:white;">Reserva mesas, gana puntos y serás invitado a nuestros eventos</p>
							<i class="fa-solid fa-eye"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	{% for evento in eventos %}
		<a href="{{'/evento/' ~ evento.id}}" class="btn" style="background-color:#45E04D;">
			<div class="item">
				<img src="{{asset('/images/uploads/' ~ evento.juego)}}" style="height:160px;" alt="">
				<div class="down-content">
					<h4>{{evento.nombre}}</h4>
					<span>
						{{evento.participantes|length}}/
						{{ evento.numMaxAsistentes }}
						<i class="fa fa-users"></i>
					</span>
				</div>
			</div>
		</a>
	{% endfor %}

</div>

</article>
{# </div> #}
