<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav
					class="main-nav">
					<!-- ***** Logo Start ***** -->
					<a href="{{ url('home') }}" class="logo">
						<img src="{{ asset('images/image.png') }}" alt="" style="width:45%;margin:25px;margin-bottom:0">
					</a>
					<!-- ***** Logo End ***** -->

					<!-- ***** Menu Start ***** -->
					<ul class="nav">

						{% if is_granted('ROLE_USER') %}
							<!-- Si está logueado, ve sus reservas -->
							<li class="scroll-to-section">
								<a href="{{ url('reservar') }}">Reservas</a>
							</li>
						{% endif %}
						<li class="scroll-to-section">
							<a href="{{ url('juegos') }}">Juegos</a>
						</li>

						{% if is_granted('ROLE_ADMIN') %}
							<li class="l-mantenimiento-xs">
								<a href="{{ url('app_mantenimiento') }}">MANTENIMIENTO</a>
							</li>
							<li class="has-sub l-mantenimiento-md">
								<a href="javascript:void(0)">Mantenimiento
									<i class="fa fa-chevron-down" id="c-submenu__bjo"></i>
									<i class="fa fa-chevron-left" id="c-submenu__izrda" style="display:none"></i>
								</a>
								<ul class="sub-menu">
									<li>
										<a href="{{ url('admin') }}">Administrador</a>
									</li>

									<li>
										<a href="{{ url('mueve_mesas') }}">Organizar sala</a>
									</li>

									<li>
										<a href="{{ url('mantenimiento_juegos') }}">Juegos</a>
									</li>

									<li>
										<a href="{{ url('mantenimiento_reservas') }}">Reservas</a>
									</li>
								</ul>
							</li>
						{% endif %}

						<li
							class="scroll-to-section">
							{# TODO #}
							<a href="#">Eventos</a>
						</li>

						<li>
							{% if is_granted('ROLE_USER') %}
								<li class="has-sub">
									
									<a class="mt-1" id="FotoPerfil" style="height:50px;">
										<img src="{{ asset('images/uploads/' ~ app.user.imagen) }}" style="width:50px;border-radius:50%;" alt="Profile.pic">
										<i class="fa fa-chevron-down"></i>
									</a>

									<ul class="sub-menu mt-0">
										<li>
											<a class="mt-0" href="{{ url('app_profile') }}">Mi perfil</a>
										</li>
										<li>
											<a class="mt-0" href="{{ url('app_logout') }}">Cerrar Sesión</a>
										</li>
									</ul>

								</li>

							{% else %}
								<a href="{{ url('app_login') }}">Iniciar Sesión</a>

							{% endif %}
						</li>
					</li>


				</li>
			</ul>
			<a class='menu-trigger'>
				<span>Menú</span>
			</a>
			<!-- ***** Menu End ***** -->
		</nav>
	</div>
</div>
</div>
</header>
<!-- ***** Header Area End ***** -->
<script src="{{ asset('js/flechita-submenu.js') }}"></script>